
*outputs*/
html_task_inputs/
__pycache__/
*.py[cod]
*.log
*.log.*
.DS_Store
.cache/
.mplconfig/
build/
dist/
*.egg-info/
*.egg
*.so
*.o

vision_experts/.DS_Store
vision_experts/Depth-Anything/.DS_Store
vision_experts/simplified_som/.DS_Store
vision_experts/simplified_som/ops/.DS_Store
.DS_Store
.DS_Store
.DS_Store
